# Source of Data
The Movie Database (TMDB): https://www.themoviedb.org/

This notebook is created to extract tmdb data fromm 2002 to 2022

# Import Libraries

In [1]:
import pandas as pd
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook
import seaborn as sns
import matplotlib.pyplot as plt

# API Credentials

In [2]:
with open('C://Users//sheha//.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
    
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']

# Designate a folder

In [4]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok= True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'final_tmdb_data_2021.csv.gz',
 'final_tmdb_data_2022.csv.gz',
 'final_tmdb_data_range(2002, 2023).csv.gz',
 'title_akas_chunk_001.csv.gz',
 'title_akas_chunk_002.csv.gz',
 'title_akas_chunk_003.csv.gz',
 'title_akas_chunk_004.csv.gz',
 'title_akas_chunk_005.csv.gz',
 'title_akas_chunk_006.csv.gz',
 'title_akas_chunk_007.csv.gz',
 'title_akas_chunk_008.csv.gz',
 'title_akas_chunk_009.csv.gz',
 'title_akas_chunk_010.csv.gz',
 'title_akas_chunk_011.csv.gz',
 'title_akas_chunk_012.csv.gz',
 'title_akas_chunk_013.csv.gz',
 'title_akas_chunk_014.csv.gz',
 'title_akas_chunk_015.csv.gz',
 'title_akas_chunk_016.csv.gz',
 'title_akas_chunk_017.csv.gz',
 'title_akas_chunk_018.csv.gz',
 'title_akas_chunk_019.csv.gz',
 'title_akas_chunk_020.csv.gz',
 'title_akas_chunk_021.csv.gz',
 'title_akas_chunk_022.csv.gz',
 'title_akas_chunk_023.csv.gz',
 'title_akas_chunk_024.csv.gz',
 'title_akas_chunk_025.csv.gz',
 'title_akas_chunk_026.csv.gz',
 'title_akas_chunk_027.csv.gz',
 'title_akas_chunk_028.csv.gz',
 'title_akas_chunk_029.csv.gz',
 'title_akas_chunk_030.csv.gz',
 'title_akas_chunk_031.csv.gz',
 'title_akas_chunk_032.csv.gz',
 'title_akas_chunk_033.csv.gz',
 'title_akas_chunk_034.csv.gz',
 'title_akas_chunk_035.csv.gz',
 'title_akas_chunk_036.csv.gz',
 'title_akas_chunk_037.csv.gz',
 'title_akas_chunk_038.csv.gz',
 'title_akas_chunk_039.csv.gz',
 'title_akas_chunk_040.csv.gz',
 'title_akas_chunk_041.csv.gz',
 'title_akas_chunk_042.csv.gz',
 'title_akas_chunk_043.csv.gz',
 'title_akas_chunk_044.csv.gz',
 'title_akas_chunk_045.csv.gz',
 'title_akas_chunk_046.csv.gz',
 'title_akas_chunk_047.csv.gz',
 'title_akas_chunk_048.csv.gz',
 'title_akas_chunk_049.csv.gz',
 'title_akas_chunk_050.csv.gz',
 'title_akas_chunk_051.csv.gz',
 'title_akas_chunk_052.csv.gz',
 'title_akas_chunk_053.csv.gz',
 'title_akas_chunk_054.csv.gz',
 'title_akas_chunk_055.csv.gz',
 'title_akas_chunk_056.csv.gz',
 'title_akas_chunk_057.csv.gz',
 'title_akas_chunk_058.csv.gz',
 'title_akas_chunk_059.csv.gz',
 'title_akas_chunk_060.csv.gz',
 'title_akas_chunk_061.csv.gz',
 'title_akas_chunk_062.csv.gz',
 'title_akas_chunk_063.csv.gz',
 'title_akas_chunk_064.csv.gz',
 'title_akas_chunk_065.csv.gz',
 'title_akas_chunk_066.csv.gz',
 'title_akas_chunk_067.csv.gz',
 'title_akas_chunk_068.csv.gz',
 'title_akas_chunk_069.csv.gz',
 'title_akas_chunk_070.csv.gz',
 'title_akas_chunk_071.csv.gz',
 'title_akas_chunk_072.csv.gz',
 'title_akas_chunk_073.csv.gz',
 'title_akas_chunk_074.csv.gz',
 'title_akas_chunk_075.csv.gz',
 'title_akas_chunk_076.csv.gz',
 'title_akas_chunk_077.csv.gz',
 'title_akas_chunk_078.csv.gz',
 'title_akas_chunk_079.csv.gz',
 'title_akas_chunk_080.csv.gz',
 'title_akas_chunk_081.csv.gz',
 'title_akas_chunk_082.csv.gz',
 'title_akas_chunk_083.csv.gz',
 'title_akas_chunk_084.csv.gz',
 'title_akas_chunk_085.csv.gz',
 'title_akas_chunk_086.csv.gz',
 'title_akas_chunk_087.csv.gz',
 'title_akas_chunk_088.csv.gz',
 'title_akas_chunk_089.csv.gz',
 'title_akas_chunk_090.csv.gz',
 'title_akas_chunk_091.csv.gz',
 'title_akas_chunk_092.csv.gz',
 'title_akas_chunk_093.csv.gz',
 'title_akas_chunk_094.csv.gz',
 'title_akas_chunk_095.csv.gz',
 'title_akas_chunk_096.csv.gz',
 'title_akas_chunk_097.csv.gz',
 'title_akas_chunk_098.csv.gz',
 'title_akas_chunk_099.csv.gz',
 'title_akas_chunk_100.csv.gz',
 'title_akas_chunk_101.csv.gz',
 'title_akas_chunk_102.csv.gz',
 'title_akas_chunk_103.csv.gz',
 'title_akas_chunk_104.csv.gz',
 'title_akas_chunk_105.csv.gz',
 'title_akas_chunk_106.csv.gz',
 'title_akas_chunk_107.csv.gz',
 'title_akas_chunk_108.csv.gz',
 'title_akas_chunk_109.csv.gz',
 'title_akas_chunk_110.csv.gz',
 'title_akas_chunk_111.csv.gz',
 'title_akas_chunk_112.csv.gz',
 'title_akas_chunk_113.csv.gz',
 'title_akas_chunk_114.csv.gz',
 'title_akas_chunk_115.csv.gz',
 'title_akas_chunk_116.csv.gz',
 'title_akas_chunk_117.csv.gz',
 'title_akas_chunk_118.csv.gz',
 'title_akas_chunk_119.csv.gz',
 'title_akas_chunk_120.csv.gz',
 'title_akas_chunk_121.csv.gz',
 'title_akas_chunk_122.csv.gz',
 'title_akas_chunk_123.csv.gz',
 'title_akas_chunk_124.csv.gz',
 'title_akas_chunk_125.csv.gz',
 'title_akas_chunk_126.csv.gz',
 'title_akas_chunk_127.csv.gz',
 'title_akas_chunk_128.csv.gz',
 'title_akas_chunk_129.csv.gz',
 'title_akas_chunk_130.csv.gz',
 'title_akas_chunk_131.csv.gz',
 'title_akas_chunk_132.csv.gz',
 'title_akas_chunk_133.csv.gz',
 'title_akas_chunk_134.csv.gz',
 'title_akas_chunk_135.csv.gz',
 'title_akas_chunk_136.csv.gz',
 'title_akas_chunk_137.csv.gz',
 'title_akas_chunk_138.csv.gz',
 'title_akas_chunk_139.csv.gz',
 'title_akas_chunk_140.csv.gz',
 'title_akas_chunk_141.csv.gz',
 'title_akas_chunk_142.csv.gz',
 'title_akas_chunk_143.csv.gz',
 'title_akas_chunk_144.csv.gz',
 'title_akas_chunk_145.csv.gz',
 'title_akas_chunk_146.csv.gz',
 'title_akas_chunk_147.csv.gz',
 'title_akas_chunk_148.csv.gz',
 'title_akas_chunk_149.csv.gz',
 'title_akas_chunk_150.csv.gz',
 'title_akas_chunk_151.csv.gz',
 'title_akas_chunk_152.csv.gz',
 'title_akas_chunk_153.csv.gz',
 'title_akas_chunk_154.csv.gz',
 'title_akas_chunk_155.csv.gz',
 'title_akas_chunk_156.csv.gz',
 'title_akas_chunk_157.csv.gz',
 'title_akas_chunk_158.csv.gz',
 'title_akas_chunk_159.csv.gz',
 'title_akas_chunk_160.csv.gz',
 'title_akas_chunk_161.csv.gz',
 'title_akas_chunk_162.csv.gz',
 'title_akas_chunk_163.csv.gz',
 'title_akas_chunk_164.csv.gz',
 'title_akas_chunk_165.csv.gz',
 'title_akas_chunk_166.csv.gz',
 'title_akas_chunk_167.csv.gz',
 'title_akas_chunk_168.csv.gz',
 'title_akas_chunk_169.csv.gz',
 'title_akas_chunk_170.csv.gz',
 'title_akas_chunk_171.csv.gz',
 'title_akas_chunk_172.csv.gz',
 'title_akas_chunk_173.csv.gz',
 'title_akas_chunk_174.csv.gz',
 'title_akas_chunk_175.csv.gz',
 'title_akas_chunk_176.csv.gz',
 'title_akas_chunk_177.csv.gz',
 'title_akas_chunk_178.csv.gz',
 'title_akas_chunk_179.csv.gz',
 'title_akas_chunk_180.csv.gz',
 'title_akas_chunk_181.csv.gz',
 'title_akas_chunk_182.csv.gz',
 'title_akas_chunk_183.csv.gz',
 'title_akas_chunk_184.csv.gz',
 'title_akas_chunk_185.csv.gz',
 'title_akas_chunk_186.csv.gz',
 'title_akas_chunk_187.csv.gz',
 'title_akas_chunk_188.csv.gz',
 'title_akas_chunk_189.csv.gz',
 'title_akas_chunk_190.csv.gz',
 'title_akas_chunk_191.csv.gz',
 'title_akas_chunk_192.csv.gz',
 'title_akas_chunk_193.csv.gz',
 'title_akas_chunk_194.csv.gz',
 'title_akas_chunk_195.csv.gz',
 'title_akas_chunk_196.csv.gz',
 'title_akas_chunk_197.csv.gz',
 'title_akas_chunk_198.csv.gz',
 'title_akas_chunk_199.csv.gz',
 'title_akas_chunk_200.csv.gz',
 'title_akas_chunk_201.csv.gz',
 'title_akas_chunk_202.csv.gz',
 'title_akas_chunk_203.csv.gz',
 'title_akas_chunk_204.csv.gz',
 'title_akas_chunk_205.csv.gz',
 'title_akas_chunk_206.csv.gz',
 'title_akas_chunk_207.csv.gz',
 'title_akas_chunk_208.csv.gz',
 'title_akas_chunk_209.csv.gz',
 'title_akas_chunk_210.csv.gz',
 'title_akas_chunk_211.csv.gz',
 'title_akas_chunk_212.csv.gz',
 'title_akas_chunk_213.csv.gz',
 'title_akas_chunk_214.csv.gz',
 'title_akas_chunk_215.csv.gz',
 'title_akas_chunk_216.csv.gz',
 'title_akas_chunk_217.csv.gz',
 'title_akas_chunk_218.csv.gz',
 'title_akas_chunk_219.csv.gz',
 'title_akas_chunk_220.csv.gz',
 'title_akas_chunk_221.csv.gz',
 'title_akas_chunk_222.csv.gz',
 'title_akas_chunk_223.csv.gz',
 'title_akas_chunk_224.csv.gz',
 'title_akas_chunk_225.csv.gz',
 'title_akas_chunk_226.csv.gz',
 'title_akas_chunk_227.csv.gz',
 'title_akas_chunk_228.csv.gz',
 'title_akas_chunk_229.csv.gz',
 'title_akas_chunk_230.csv.gz',
 'title_akas_chunk_231.csv.gz',
 'title_akas_chunk_232.csv.gz',
 'title_akas_chunk_233.csv.gz',
 'title_akas_chunk_234.csv.gz',
 'title_akas_chunk_235.csv.gz',
 'title_akas_chunk_236.csv.gz',
 'title_akas_chunk_237.csv.gz',
 'title_akas_chunk_238.csv.gz',
 'title_akas_chunk_239.csv.gz',
 'title_akas_chunk_240.csv.gz',
 'title_akas_chunk_241.csv.gz',
 'title_akas_chunk_242.csv.gz',
 'title_akas_chunk_243.csv.gz',
 'title_akas_chunk_244.csv.gz',
 'title_akas_chunk_245.csv.gz',
 'title_akas_chunk_246.csv.gz',
 'title_akas_chunk_247.csv.gz',
 'title_akas_chunk_248.csv.gz',
 'title_akas_chunk_249.csv.gz',
 'title_akas_chunk_250.csv.gz',
 'title_akas_chunk_251.csv.gz',
 'title_akas_chunk_252.csv.gz',
 'title_akas_chunk_253.csv.gz',
 'title_akas_chunk_254.csv.gz',
 'title_akas_chunk_255.csv.gz',
 'title_akas_chunk_256.csv.gz',
 'title_akas_chunk_257.csv.gz',
 'title_akas_chunk_258.csv.gz',
 'title_akas_chunk_259.csv.gz',
 'title_akas_chunk_260.csv.gz',
 'title_akas_chunk_261.csv.gz',
 'title_akas_chunk_262.csv.gz',
 'title_akas_chunk_263.csv.gz',
 'title_akas_chunk_264.csv.gz',
 'title_akas_chunk_265.csv.gz',
 'title_akas_chunk_266.csv.gz',
 'title_akas_chunk_267.csv.gz',
 'title_akas_chunk_268.csv.gz',
 'title_akas_chunk_269.csv.gz',
 'title_akas_chunk_270.csv.gz',
 'title_akas_chunk_271.csv.gz',
 'title_akas_chunk_272.csv.gz',
 'title_akas_chunk_273.csv.gz',
 'title_akas_chunk_274.csv.gz',
 'title_akas_chunk_275.csv.gz',
 'title_akas_chunk_276.csv.gz',
 'title_akas_chunk_277.csv.gz',
 'title_akas_chunk_278.csv.gz',
 'title_akas_chunk_279.csv.gz',
 'title_akas_chunk_280.csv.gz',
 'title_akas_chunk_281.csv.gz',
 'title_akas_chunk_282.csv.gz',
 'title_akas_chunk_283.csv.gz',
 'title_akas_chunk_284.csv.gz',
 'title_akas_chunk_285.csv.gz',
 'title_akas_chunk_286.csv.gz',
 'title_akas_chunk_287.csv.gz',
 'title_akas_chunk_288.csv.gz',
 'title_akas_chunk_289.csv.gz',
 'title_akas_chunk_290.csv.gz',
 'title_akas_chunk_291.csv.gz',
 'title_akas_chunk_292.csv.gz',
 'title_akas_chunk_293.csv.gz',
 'title_akas_chunk_294.csv.gz',
 'title_akas_chunk_295.csv.gz',
 'title_akas_chunk_296.csv.gz',
 'title_akas_chunk_297.csv.gz',
 'title_akas_chunk_298.csv.gz',
 'title_akas_chunk_299.csv.gz',
 'title_akas_chunk_300.csv.gz',
 'title_akas_chunk_301.csv.gz',
 'title_akas_chunk_302.csv.gz',
 'title_akas_chunk_303.csv.gz',
 'title_akas_chunk_304.csv.gz',
 'title_akas_chunk_305.csv.gz',
 'title_akas_chunk_306.csv.gz',
 'title_akas_chunk_307.csv.gz',
 'title_akas_chunk_308.csv.gz',
 'title_akas_chunk_309.csv.gz',
 'title_akas_chunk_310.csv.gz',
 'title_akas_chunk_311.csv.gz',
 'title_akas_chunk_312.csv.gz',
 'title_akas_chunk_313.csv.gz',
 'title_akas_chunk_314.csv.gz',
 'title_akas_chunk_315.csv.gz',
 'title_akas_chunk_316.csv.gz',
 'title_akas_chunk_317.csv.gz',
 'title_akas_chunk_318.csv.gz',
 'title_akas_chunk_319.csv.gz',
 'title_akas_chunk_320.csv.gz',
 'title_akas_chunk_321.csv.gz',
 'title_akas_chunk_322.csv.gz',
 'title_akas_chunk_323.csv.gz',
 'title_akas_chunk_324.csv.gz',
 'title_akas_chunk_325.csv.gz',
 'title_akas_chunk_326.csv.gz',
 'title_akas_chunk_327.csv.gz',
 'title_akas_chunk_328.csv.gz',
 'title_akas_chunk_329.csv.gz',
 'title_akas_chunk_330.csv.gz',
 'title_akas_chunk_331.csv.gz',
 'title_akas_chunk_332.csv.gz',
 'title_akas_chunk_333.csv.gz',
 'title_akas_chunk_334.csv.gz',
 'title_akas_chunk_335.csv.gz',
 'title_akas_chunk_336.csv.gz',
 'title_akas_chunk_337.csv.gz',
 'title_akas_chunk_338.csv.gz',
 'title_akas_chunk_339.csv.gz',
 'title_akas_chunk_340.csv.gz',
 'title_akas_chunk_341.csv.gz',
 'title_akas_chunk_342.csv.gz',
 'title_akas_chunk_343.csv.gz',
 'title_akas_chunk_344.csv.gz',
 'title_akas_chunk_345.csv.gz',
 'title_akas_combined.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_data_all.csv.gz',
 'tmdb_results_combined.csv.gz']

# Define Functions

## Movie Rating Function

In [5]:
def get_movie_with_rating(movie_id):
    """Adapted  from source =  https://github.com/celiao/tmdbsimple"""
    # Get the object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries 
    info = movie.info()
    
    releases = movie.releases()
    # loop through countries in releases
    for c in releases['countries']:
        if c['iso_3166_1'] == 'US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
    return info

## Append records to json file

In [6]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename, 'r+') as file:
        #First we load existing data into a dict.
        file_data = json.load(file)
        ## use extend and or append
        if (type(new_data)==list) & (type(file_data)==list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        #convert back to json
        json.dump(file_data, file)

# Load in the Title Basics data

In [7]:
basics = pd.read_csv("Data/title_basics.csv.gz")

# Create Required Lists for the Loop

In [13]:
# Define a list of the Years to Extract from the API
YEARS_TO_GET = [*range(2002, 2023,1)]
YEARS_TO_GET

[2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [9]:
# define error list
errors = [ ]

# Testing the "get_movie_with_rating" function

In [10]:
test_ids = ["tt0848228", "tt0332280"]
results = []

for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e:
        errors.append([movie_id, e])
    
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.708,28053,PG-13
1,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.879,10065,PG-13

In [11]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 0

[]

# Set up Progress Bar

In [12]:
# OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    #check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

# INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])

    
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz",
                         compression="gzip", index=False)

YEARS:   0%|          | 0/21 [00:00<?, ?it/s]

Movies from 2002:   0%|          | 0/1530 [00:00<?, ?it/s]

Movies from 2003:   0%|          | 0/1644 [00:00<?, ?it/s]

Movies from 2004:   0%|          | 0/1859 [00:00<?, ?it/s]

Movies from 2005:   0%|          | 0/2152 [00:00<?, ?it/s]

Movies from 2006:   0%|          | 0/2367 [00:00<?, ?it/s]

Movies from 2007:   0%|          | 0/2518 [00:00<?, ?it/s]

Movies from 2008:   0%|          | 0/2857 [00:00<?, ?it/s]

Movies from 2009:   0%|          | 0/3491 [00:00<?, ?it/s]

Movies from 2010:   0%|          | 0/3802 [00:00<?, ?it/s]

Movies from 2011:   0%|          | 0/4174 [00:00<?, ?it/s]

Movies from 2012:   0%|          | 0/4463 [00:00<?, ?it/s]

Movies from 2013:   0%|          | 0/4665 [00:00<?, ?it/s]

Movies from 2014:   0%|          | 0/4844 [00:00<?, ?it/s]

Movies from 2015:   0%|          | 0/4973 [00:00<?, ?it/s]

Movies from 2016:   0%|          | 0/5179 [00:00<?, ?it/s]

Movies from 2017:   0%|          | 0/5556 [00:00<?, ?it/s]

Movies from 2018:   0%|          | 0/5671 [00:00<?, ?it/s]

Movies from 2019:   0%|          | 0/5759 [00:00<?, ?it/s]

Movies from 2020:   0%|          | 0/4906 [00:00<?, ?it/s]

Movies from 2021:   0%|          | 0/4979 [00:00<?, ?it/s]

Movies from 2022:   0%|          | 0/4159 [00:00<?, ?it/s]

In [14]:
tmdb_data_all = pd.read_csv("Data/tmdb_results_combined.csv.gz")
tmdb_data_all = tmdb_data_all.loc[1:]
tmdb_data_all.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN

In [15]:
len(tmdb_data_all)

2508

In [16]:
for i in YEARS_TO_GET:
    df = pd.read_csv(f"Data/final_tmdb_data_{i}.csv.gz")
    df = df.loc[1:]
    tmdb_data_all = pd.concat([tmdb_data_all, df], ignore_index= True)
    print(i, len(df) ,len(tmdb_data_all))

2002 1248 3756
2003 1287 5043
2004 1440 6483
2005 1567 8050
2006 235 8285
2007 1883 10168
2008 2102 12270
2009 2401 14671
2010 583 15254
2011 1884 17138
2012 3248 20386
2013 2664 23050
2014 3692 26742
2015 3744 30486
2016 3996 34482
2017 4368 38850
2018 4078 42928
2019 3863 46791
2020 3872 50663
2021 2519 53182
2022 2973 56155

In [31]:
display (tmdb_data_all.head(2), tmdb_data_all.tail(2))

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
1,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
56153,tt9893160,0.0,/jX5XGqJUTzvpta2RjcX6pMZqxk5.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,606303.0,en,No Way Out,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find what you love and let it kill you.,No Way Out,0.0,4.944,9.0,NaN
56154,tt9904648,0.0,/ibWj2ARVrAabIWDq5vSXoJRZfVV.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://contrastmovie.com/,933557.0,en,The Contrast,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everybody loves... somebody else.,The Contrast,0.0,3.000,1.0,NaN

In [32]:
# Save a final merged .csv.gz of all of the tmdb api data 
tmdb_data_all.to_csv("Data/tmdb_data_all.csv.gz", 
                                compression="gzip", 
                                index=False)